.container {
  background-color: $light-gray;
  width: 100%
}

.calendar, .plants {
  margin-top: 3rem;

  h1 {
    margin-left: 1rem;
  }
}

.ui-datepicker {
  background-color: #555;
}

.ui-datepicker-title {

  > span {
    color: $white;
  }
}

.media {
  color: $white;
}

.announcements {
  margin-top: 2rem;
  padding: 4rem 0 7rem 0;
}

#facebook {
  &.active {
    background-color: #3b5998;
  }
}

#google {
  &.active {
    background-color: #dd4b39;
  }
}

#twitter {
  &.active {
    background-color: #55acee;
  }
}

#apps {
  &.active {
    background-color: $primary-color;
  }
}

.feed {
  max-height: 40rem;
  overflow: scroll;
}

.announcementItem {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: .4rem .6rem;

  p {
    color: #333;
  }
}

.filter {
  h4 {
    display: inline-block;
    margin-right: .4rem;
  }
}

.plant-item {
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color .3s ease-out;

  &:hover {
    background-color: #f2f2f2;
  }

  img {
    float: left;
    padding-right: .8rem;
  }

  > * {
    display: inline;
  }
}
