.container {
  background-color: $light-gray;
  width: 100%
}

.calendar, .plants {
  margin-top: 3rem;

  h1 {
    margin-left: 1rem;
  }
}

.ui-datepicker {
  background-color: #555;
}

.ui-datepicker-title {

  > span {
    color: $white;
  }
}




.filter {
  h4 {
    display: inline-block;
    margin-right: .4rem;
  }
}
